@import "../../styles/main.scss";

.background-image {
  width: 100%;
  position: inherit;
  top: 50%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color-3;
//   text-align: center;
//   height: 100vh;
  font-family: "lato";
  font-weight: 100;
}

.wrapper{
width: 23rem;
top: 50%;
left: 50%;
  }
  .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $primary-color-2;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
    // left:75%;
    // top:75%;
    // position:inherit;
    transform:translate(-50%, -50%); 
  }

@keyframes loading{
    0%{
      transform: translateY(0px);
      background-color: $primary-color-2;
    }
    50%{
      transform: translateY(50px);
      background-color: $primary-color-2;
    }
    100%{
      transform: translateY(0px);
      background-color: $primary-color-2;
    }
  }

.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
