@import '../../styles/main.scss';

.welcome {
  &__logo {
    &--img {
      max-width: 100%;
      height: auto;
      margin-left: 5rem;
      margin-right: 1rem;
      margin-top: 2.5rem;
    }
  }
  &__hero {
    &--img {
      width: 24rem;
      height: auto;
      margin-top: 2.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 1.5rem 2.5rem 1.5rem;
    width: 23rem;
    &--description {
    }
    &--description-color {
      color: $supporting-color-2;
    }
  }
  &__section {
    margin: 2rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--button {
      background-color: $primary-color-1;
      width: 20.438rem;
      height: 3rem;
      border-radius: 0.75rem;
      border: none;
    }
    &--text {
      color: $primary-color-3;
      text-decoration: none;
    }
    &--spacer {
      padding-top: 2rem;
    }
  }
}
