@import "../../styles/main.scss";

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
  // perspective: 1000px;
}

.card {
  position: absolute;
  width: 18rem;
  height:23rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  padding-bottom: 1rem;
}

.dog-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

h2 {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;

}

.swipe{
  &__icon{
    display: flex;
    justify-content: space-evenly;
    // padding-top: 10rem;
  }
  &__text{
    padding-left: 1rem;
  }
}

.like-button {
  background-color: #00e676;
  color: white;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 2.5rem;
}

.dislike-button {
  background-color: #ff1744;
  border-radius: 2.5rem;
  color: white;
  width: 4.75rem;
  height: 4.75rem;
}

.card.swiped-right {
  transform: translateX(100%) rotateY(45deg);
  transition: transform 0.3s ease;
}

.card.swiped-left {
  transform: translateX(-100%) rotateY(-45deg);
  transition: transform 0.3s ease;
}
