@font-face {
    font-family: 'Inter';
    src: url(../../assets/Fonts/Inter-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: 'Inter';
    src: url(../../assets/Fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/Fonts/Inter-ExtraBold.ttf);
    font-weight: 800;
}