$primary-color-1: #A87DA4;
$primary-color-2: #000000;
$primary-color-3: #FFFFFF;

$secondary-color-1: #158463;
$secondary-color-2: #D94A38;

$supporting-color-1: #605656;
$supporting-color-2: #71727A;
