@import "../../styles/main.scss";

.logout-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 23rem;
  height: 100%;
}

.logout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  z-index: 1001;
  width: 14rem;
  height: 10.438rem;
  background-color: $primary-color-3;
  border-radius: 0.625rem;
  padding: 2.5rem;
  text-align: center;
  &__message {
    width: 10rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--header {
      color: $primary-color-2;
      font-size: 1rem;
    }
    &--alert {
      font-size: 0.75rem;
      color: $supporting-color-1;
    }
  }

  &__text {
    text-decoration: none;
    color: $primary-color-3;
    background-color: $primary-color-1;
    border-color: $primary-color-1;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 8.125rem;
  }
  &__text:hover {
    color: $primary-color-1;
    background-color: $primary-color-3;
  }
  &__button {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
  }
  &__button--logout {
    padding-left: 0.25rem;
  }
  &__button--cancel {
    height: 2.5rem;
    width: 8.125rem;
  }
}
